<footer>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="products.html">Get Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/order">Get Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="customer.html">My Account</a></li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cart.html">Cart</a></li>
      </li>
    </ul>
  </nav>
</footer>
</body>
</html>