<!DOCTYPE html>
<html>

<%- include head %>
<main>
    <div class="container">
      <form method="POST" action=<%- "/resetpassword" + data %>>
        <h2>Reset Password</h2>
          <div class="form-group">
          <label for="exampleInputPassword1">New Password</label>
          <input name="psw" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirm Password</label>
          <input name="psw-repeat" type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </main>
  <%- include popups %>
  <%- include scripts %>
</html>