<!DOCTYPE html>
<html>

<%- include head %>

<body>
  <%- include nav %>
  <main>
    <div class="container">
      <h1>Welcome to the Mighty Morphin Shop</h1>
      <p>Please buy our stuff.</p>
      <a class="btn btn-primary" href="/product" role="button">Shop</a>
  </main>
  </div>
  <%- include popups %>
  <%- include scripts %>
  
</body>

</html>