<header>
  <span id="status"> <%= status %></span>
  <img class="logo" src="/images/logo.png" class="img-fluid" alt="Morphin">
  <h1><%= title %></h1>
</header>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product">Merchandise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a></li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">Cart</a></li>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/order/history">Order History</a></li>
      </li>
    </ul>
  </nav>
