<!DOCTYPE html>
<html>

<head>
  <title>
    Mighty Morphin
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<form>
  <H3>Card Information</H3>
  <div class="container">
  <div class="form-row">
    <div class="col-8">
      <input type="text" class="form-control" placeholder="Card Number">
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="CSV">
    </div>
  </div>
</div>
</form>

<form>
  <div class="container">
    <H3>Shipping</H3>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">First Name</label>
        <input type="First Name" class="form-control" id="firstName" placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input type="Last Name" class="form-control" id="lastName" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Billing same as Shipping
        </label>
      </div>
    </div>
  </div>
</form>
<form>
  <h3>Billing</h3>
  <div class="container">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">First Name</label>
        <input type="First Name" class="form-control" id="firstName" placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input type="Last Name" class="form-control" id="lastName" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
  </div>
</form>
<div class="container">
  <span>Total: $140</span>
  <button type="button" class="btn btn-primary">Checkout</button>
</div>

</html>