<!DOCTYPE html>
<html>

<%- include head %>

<form class="checkoutForm">
  <div class="container">
    <h3>Card Information</h3>
  <div class="form-row">
    <div class="col-8">
      <input type="text" class="form-control" placeholder="Card Number">
    </div>
  </div>
</div>
</form>

<form class="checkoutForm">
  <div class="container">
    <h3>Shipping</h3>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">First Name</label>
        <input type="First Name" class="form-control" id="firstName" placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input type="Last Name" class="form-control" id="lastName" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Billing same as Shipping
        </label>
      </div>
    </div>
  </div>
</form>


<form class="checkoutForm">
  <div class="container">
    <h3>Billing</h3>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">First Name</label>
        <input type="First Name" class="form-control" id="firstName" placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input type="Last Name" class="form-control" id="lastName" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
  </div>
</form>

<div class="container">
  <span>Total: $140</span>
  <button type="button" class="btn btn-primary">Checkout</button>
</div>

</html>